{% extends 'perfilesapp/base.html' %}
{% load static %}

{% block tituloPagina %}
Buscar Curso
{% endblock %}

{% block servicios %}

<div class="row gx-5 justify-content-center">
    <div class="col-lg-6">
        <p>
            <h3>Buscar curso:
                <form action="" method="post">
                 {% csrf_token %}
                  <input type="text" name="tienda" id="" min="0"/>
                  <input type="submit" value="Buscar"/>
                </form>
            </h3>
        </p>

    
        <h5>Resultados: </h5>
        <ul class="list-group list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                                
                                    
                <b>Nombre del Curso</b>   <!-- Encabezados-->
                <b>Profesor encargado</b>
                <b>Dias</b>
                <b>Turno</b>
                <b>Precio</b>
    
            </li>

            {% for resultado in tiendaactividades %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <span>{{resultado.actividad}}</span>
                    <span>{{resultado.profesor}}</span>
                    <span>{{resultado.dias}}</span>
                    <span>{{resultado.turno}}</span>
                    <span>{{resultado.precio}}</span>
                </li>
            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}