{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
Escuela Municipal
{% endblock %} 

{% block about %} 
<div>
    <p class="justify-content-center">
        <h1 style="color:white" >
            <br>
            <br>
            Escuela Municipal de Remo
            <br>
            <br>
        </h1>

        <h4 style="color:white" align="justify">
            La escuela municipal de remo nace de una iniciativa de la intendencia de Montevideo por integrar jovenes a deportes. El programa empezò en el año xx y ya han pasado mas de 200 niños y niñas entre 10 y 15 años.
            Las clases son los dias Lunes Miercoles y Viernes de 16 a 18:30 </h4>
            <br>
            <br>        
        </h4>
    </p>
</div>

{% endblock %} 